[Desktop Entry]
Encoding=UTF-8
Name=Network Bandwidth DBUS Widget
Comment=Network bandwidth
Type=Service
X-KDE-ParentApp=
X-KDE-PluginInfo-Author=LeeVD
X-KDE-PluginInfo-Email=thoth360@hotmail.com
X-KDE-PluginInfo-License=GPL3
X-KDE-PluginInfo-Name=org.kde.nsw_dbus
X-KDE-PluginInfo-Version=v0.4
X-KDE-PluginInfo-Website=https://github.com/leevd
X-KDE-ServiceTypes=Plasma/Applet
X-Plasma-API=declarativeappletscript
X-Plasma-MainScript=ui/main.qml
X-Plasma-RemoteLocation=
X-KDE-PluginInfo-Category=System Information
Icon=network-connect

Name[zh_CN]=Network Bandwidth DBUS Widget
Comment[zh_CN]=网络速度
